<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<head>
<title>Enter availability for {{ gig.title }}</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<style>
th {
    text-align: right;
}

@media only screen and (max-width: 1000px) {
    body, input, button {
        font-size: 14pt;
    }

    button {
        padding: 5px;
    }
}
</style>

<script type="text/javascript">
$(function() {
    $('button').click(function() {
        $.ajax({
            type: 'POST',
            headers: { "X-CSRFToken": '{{ csrf_token }}' },
            url: '{% url "availability_set" gig.id player.id %}',
            data: {
                availability: this.id,
                notes: $('#notes').val()
            },
            success: function(data) {
                window.location.href=data.redirect
            },
        });
    });
})
</script>
</head>
<body>
<h3>Availability for {{ gig.title }}</h3>
<h1>Hello {{ player }}</h1>
<h3>Are you free for on {{ gig.date }} for a gig at {{ gig.location }}?</h3>
<p>Details: {{ gig.details }}</p>

<p>
    Add any clarification or notes:<br>
    <input type="text" id="notes" />
</p>
<p>
    Then answer, I am:<br>
    {% for ar in availability_choices %}
        <button type="button" id="{{ ar.0 }}">{{ ar.1 }}</button>
    {% endfor %}
</p>
</body>
</html>