{% extends "base.html" %}
{% load giggertags %}

{% block title %}Enter availability for {{ gig.title }}{% endblock title %}

{% block js %}
<script type="text/javascript">
$(function() {
    $('input').on('change', function () {
        $('#save_response').text("");
    });
})
{% endblock js %}


{% block content %}

<h3>Availability for {{ gig.title }}</h3>
<h1>Who are you?</h1>
{% for player in players %}
    <span class="player-name"><a href="{% url 'availability_form' gig.id player.id %}">{{ player }}</a></span>
{% endfor %}

{% endblock content %}