{% extends "base.html" %}
{% load giggertags %}

{% block title %}Enter availability for {{ gig.title }}{% endblock title %}

{% block js %}
$(function() {
    $('button').click(function() {
        $.ajax({
            type: 'POST',
            headers: { "X-CSRFToken": '{{ csrf_token }}' },
            url: '{% url "availability_set" gig.id player.id %}',
            data: {
                availability: this.id,
                notes: $('#notes').val()
            },
            success: function(data) {
                window.location.href=data.redirect
            },
        });
    });
})
{% endblock js %}

{% block content %}
<h3>Availability for {{ gig.title }}</h3>
<h1>Hello {{ player }} <a href="{% url 'who_am_i' %}" class="tiny">(not you?)</a></h1>

<h3>Are you free for on {{ gig.date }} for a gig at {{ gig.location }}?</h3>
<p>Details: {{ gig.details }}</p>

<p>
    Add any clarification or notes:<br>
    <input type="text" id="notes" />
</p>
<p>
    Then answer, I am:<br>
    {% for ar in availability_choices %}
        <button type="button" id="{{ ar.0 }}">{{ ar.1 }}</button>
    {% endfor %}
</p>
{% endblock content %}