{% extends "base.html" %}
{% load giggertags %}

{% block title %}Create new gig{% endblock title %}

{% block css %}
    #propose-btn {
        padding: 0.5em;
    }
{% endblock css %}


{% block content %}
    <h1>Propose a new gig</h1>
    <form action="{% url "create_gig" %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="side-by-side-container">
            <input type="submit" value="Propose" id="propose-btn" class="btn-good side-by-side-element">
            <button onclick="window.location.href='{% url 'gigs' %}';" class="btn-bad side-by-side-element">Cancel</button>
        </div>
    </form>
{% endblock content %}