<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<head>
<title>Create new gig</title>
<style>
    @media only screen and (max-width: 1000px) {
        body, input {
            font-size: 16pt;
        }

        #propose-btn {
            padding: 0.5em;
        }
    }
</style>
</head>
<body>
<h1>Propose a new gig</h1>
<form action="{% url "create_gig" %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Propose ->" id="propose-btn">
</form>
</body>
</html>