<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<head>
<title>Edit gig</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<style>
th {
    text-align: right;
}
</style>

<script type="text/javascript">
$(function() {
})
</script>
</head>
<body>
<h1>Edit gig details - <span id="gig-title">{{ gig.title }}</span></h1>
<form method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Save changes">
    <a href="{% url 'view_gig' gig.id %}">Cancel</a>
</form>
</body>
</html>