<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<head>
<title>Edit gig</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<style>
th {
    text-align: right;
}

@media only screen and (max-width: 1000px) {
    body, input, textarea, select {
        font-size: 14pt;
    }
    label {
        display: block;
        min-width: 40em;
    }
    div {
        padding-top: 0.5em;
    }

    input, textarea, select {
        width: 100%;
    }

    input[type=checkbox] {
        zoom: 1.5;
        width: auto;
    }
}
</style>

<script type="text/javascript">
$(function() {
})
</script>
</head>
<body>
<h1>Edit gig details - <span id="gig-title">{{ gig.title }}</span></h1>
<form method="post">
    {% csrf_token %}
    <table>
        {{ form.as_p }}
    </table>
    <input type="submit" value="Save changes">
    <p>
        <a href="{% url 'view_gig' gig.id %}">Cancel</a>
    </p>
</form>
</body>
</html>