{% extends "base.html" %}
{% load giggertags %}

{% block title %}View gig{% endblock title %}

{% block js %}
    $(function() {
        $('select').on('change', function() {
            instrument_id = this.id;
            player_id = this.value;
            $.ajax({
                type: 'POST',
                headers: { "X-CSRFToken": '{{ csrf_token }}' },
                url: '{% url "assign_player" gig.id %}',
                data: {
                    instrument_id: instrument_id,
                    player_id: player_id
                },
                success: function(data) {
                    console.log(data);
                }
            });
        });

        $("#availability-link").click(function(event) {
            event.preventDefault();
            $("#link-copied").removeClass("hidden");
            setTimeout(function() {
                $("#link-copied").addClass("hidden");
            }, 3000);
            {% url "availability_entry_point" gig.id as relative_url %} 
            copyToClipboard('{% absolute_url relative_url %}');

        });
    })
{% endblock js %}

{% block css %}

    #availability-link {
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
{% endblock css %}

{% block content %}
    <h1>{{ gig.title }} - {{ gig.get_status }} {{ gig.get_status_icon }}</h1>
    <p><a href="{% url 'edit_gig' gig.id %}">Edit details</a> | <a href="{% url 'gigs' %}">Back</a></p>
    <h2>On {{ gig.date }} at {{ gig.location }}</h2>

    {% if gig.start_time %}<p>Dancing starts at {{ gig.start_time }}</p> {% endif %}
    <p>Contact: {{ gig.contact_name }} - {{ gig.contact_email }}. {% if gig.handled_by %} Handled by {{ gig.handled_by }}{% endif %}</p>
    <p>Details: {{ gig.details }}</p>
    <p>Total cost: £{{ gig.total_cost }} (£{{ gig.cost_per_player }} × {{ gig.number_of_charging_players }} people + £{{ gig.cost_per_car }} × {{ gig.number_of_cars }} cars + £{{ gig.cost_extras }})

    <h2>Players</h2>

    <table>
        {% for instrument in gig.required_instruments.all %}

            {% get_player_assigned_to_instrument gig.id instrument.id as current_player %}
            <tr>
                <th>{{ instrument }} {{ instrument.icon }}</th>
                <td>
                    <select id="{{ instrument.id }}">
                        <option value="-1" {% if current_player == -1 %}selected{% endif %}>Choose player...</option>
                        {% for player in instrument.player_set.all %}
                            <option value="{{ player.id }}" {% if current_player == player.id %}selected{% endif %}>{{ player }} - {% get_player_availability player.id gig.id %}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        <h2>Availability</h2>
    </p>

    <p>
        {% for a in availability %}
        {{ a.player }}: {{ a }} {% if a.notes %}({{ a.notes }}){% endif %}<br>
        {% endfor %}
    </p>

    <p>
        <span id="availability-enter"><a href="{% url 'availability_entry_point' gig.id %}">Enter my availability</a></span> 
        <button id='availability-link'>🔗</button><span id="link-copied" class="hidden fader">Link copied</span>
    </p>

{% endblock content %}